.nav{
    color: white;
    background-color:rgb(41, 41, 41);
    padding: 10px;
}
.article{
    width: 70%;
    margin: auto;
}
.nav a{
    color: inherit;
    text-decoration: none;
}
h1{
    text-align: center;
}
h2{
    background-color:blueviolet;
    color: white;
}
.right{
    text-align: right;
}
.right a{
    background-color:black;
    color: white;
    text-decoration: none;
    font-size: 30px;
}